public/home.html

<html lang="es">
  <head>
    <title>Inverplux</title>
    <meta charset="uft-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"/>
    <link rel="stylesheet" href="./css/home.css"/>
  </head>
  <body>
    <div class="home-wrap">
      <div class="row">
        <div class="col s2 side-menu">
          <div class="side-menu__header"><img class="responsive-img" src="img/logo.png" style="width:15em;"/></div>
          <div class="side-menu__list">
            <ul>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
            </ul>
          </div>
        </div>
        <div class="col s10">
          <div class="main">
            <div class="title-bar">
              <div class="title-bar__name">Nombre sección</div>
              <div class="title-bar__actions"><a class="waves-effect waves-light btn">Nuevo perfil</a></div>
            </div>
            <section class="card-panel">
              <table class="striped">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Clave</th>
                    <th class="right-align">Acción</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>data</td>
                    <td>data</td>
                    <td>data</td>
                    <td class="table_options"><a href="#"><img src="img/ic-edit.svg"/></a><a href="opciones.html"><img src="img/ic-options.svg"/></a><a href="#"><img src="img/ic-delete.svg"/></a></td>
                  </tr>
                  <tr>
                    <td>data</td>
                    <td>data</td>
                    <td>data</td>
                    <td class="table_options"><a href="#"><img src="img/ic-edit.svg"/></a><a href="#"><img src="img/ic-options.svg"/></a><a href="#"><img src="img/ic-delete.svg"/></a></td>
                  </tr>
                  <tr>
                    <td>a</td>
                    <td>data</td>
                    <td>data</td>
                    <td class="table_options"><a href="#"><img src="img/ic-edit.svg"/></a><a href="#"><img src="img/ic-options.svg"/></a><a href="#"><img src="img/ic-delete.svg"/></a></td>
                  </tr>
                </tbody>
              </table>
            </section>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  </body>
</html>

src/home.pug
html(lang="es")
  head
    title Inverplux
    meta(charset="uft-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css')
    link( rel="stylesheet", href="./css/home.css")
  body
    .home-wrap
      .row
        div.col.s2.side-menu
          div.side-menu__header
            img.responsive-img(src="img/logo.png", style="width:15em")
          div.side-menu__list
            ul
              li
                a(href="#") item
              li
                a(href="#") item
              li
                a(href="#") item
              li
                a(href="#") item
          
        div.col.s10
          div.main
            div.title-bar
              div.title-bar__name
                | Nombre sección
              div.title-bar__actions
                a.waves-effect.waves-light.btn Nuevo perfil
            section.card-panel
              table.striped
                thead
                  tr
                    th ID
                    th Nombre
                    th Clave
                    th.right-align Acción
                    
                tbody
                  tr
                    td data
                    td data
                    td data
                    td.table_options
                      a(href="#")
                        img(src="img/ic-edit.svg")
                      a(href="opciones.html")
                        img(src="img/ic-options.svg")
                      a(href="#")
                        img(src="img/ic-delete.svg")
                  
                  tr
                    td data
                    td data
                    td data
                    td.table_options
                      a(href="#")
                        img(src="img/ic-edit.svg")
                      a(href="#")
                        img(src="img/ic-options.svg")
                      a(href="#")
                        img(src="img/ic-delete.svg")
                    
                  tr
                    td a
                    td data
                    td data
                    td.table_options
                      a(href="#")
                        img(src="img/ic-edit.svg")
                      a(href="#")
                        img(src="img/ic-options.svg")
                      a(href="#")
                        img(src="img/ic-delete.svg")
                    

      
  

    script(type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js")
            
