public/index.html

<html lang="es">
  <head>
    <title>Simulador Inverplux</title>
    <meta charset="uft-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"/>
    <link rel="stylesheet" href="./css/index.css"/>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="menu">
          <div class="logo"><img class="responsive-img" src="img/logo.png"/></div>
          <div class="hide-on-med-and-up" style="color:white;margin-top:1.5em;"><i class="material-icons">dehaze</i></div>
          <ul class="items hide-on-small-only">
            <li><a href="#">INICIO</a></li>
            <li><a href="#">SIMULADOR</a></li>
          </ul>
        </div>
        <div class="slogan center-align hide-on-small-only">Conoce cuanto puedes ganar desde hoy.</div>
      </div>
    </header>
    <div class="diagonal"></div>
    <main>
      <div class="container">
        <div class="card simulator z-depth-5">
          <div class="simulator__menu">
            <ul class="simulator__menu__items">
              <li class="selected">PLANES PLUX</li>
              <li>PLANES BOX</li>
              <li>PLANES SAVING</li>
              <li>PLANES ESTUDIANTIL</li>
              <LI>PLAN DE RETIRO</LI>
            </ul>
          </div>
          <div class="simulator__main row">
            <div class="col s12 m4">
              <h5>NAME PLAN</h5>
              <p>Description</p>
            </div>
            <div class="col s12 m8" style="border-left:solid 1px lightgray;">
              <div class="input-field">
                <select>
                  <option disabled="disabled" selected="selected">Placeholder select</option>
                </select>
                <select>
                  <option disabled="disabled" selected="selected">Placeholder select</option>
                </select>
                <select>
                  <option disabled="disabled" selected="selected">Placeholder select</option>
                </select>
              </div>
              <div class="right-align"><a class="wave-effect wave-light btn light-blue lighten-1">Calcular ganancias</a></div>
            </div>
          </div>
          <div class="card-panel hoverable simulator__chart">
            <div class="row">
              <div class="col s12 m7">
                <h4>Tu Inversión</h4>
              </div>
              <div class="col s12 m5 money right-align">
                <div>
                  <label>Invierte</label>
                  <h6>$10,000</h6>
                </div>
                <div><img src="../img/group-26.svg"/></div>
                <div>
                  <label>Recibe</label>
                  <h6>$12,000</h6>
                </div>
              </div>
            </div>
            <canvas id="myChart" width="1000vw" height="300vh"></canvas>
          </div>
        </div>
      </div>
    </main>
    <section class="msg center-align">
      <div class="container">
        <h4>¿Aún no estas convencido?</h4>
        <h6>Resolvemos todas tus dudas</h6><a class="wave-effect wave-light btn light-blue lighten-1">Habla con un asesor</a><br/><br/>
      </div>
    </section>
    <footer>
      <div class="container">2018. Fondeadora de Inversión y Capital.</div>
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
      <script type="text/javascript" src="js/index.js"></script>
    </footer>
  </body>
</html>

src/index.pug
html(lang="es")
  head
    title Simulador Inverplux
    meta(charset="uft-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css')
    link( rel="stylesheet", href="./css/index.css")
    

  body
    header
      .container
        .menu
          .logo
            img.responsive-img(src="img/logo.png")
          div.hide-on-med-and-up(style="color:white;margin-top:1.5em")
            i.material-icons dehaze
          ul.items.hide-on-small-only
            li
              a(href="#") INICIO
            li
              a(href="#") SIMULADOR
            
        .slogan.center-align.hide-on-small-only Conoce cuanto puedes ganar desde hoy.
    .diagonal
    main
      .container
        div.card.simulator.z-depth-5
          .simulator__menu
            ul.simulator__menu__items
              li.selected PLANES PLUX
              li PLANES BOX
              li PLANES SAVING
              li PLANES ESTUDIANTIL
              LI PLAN DE RETIRO
          .simulator__main.row
            .col.s12.m4
              h5 NAME PLAN
              p Description
            .col.s12.m8(style="border-left:solid 1px lightgray;")
              .input-field
                select
                  option(disabled selected) Placeholder select
                select
                  option(disabled selected) Placeholder select
                select
                  option(disabled selected) Placeholder select
              //- .simulator__main__description
              //-   h5 NAME PLAN
              //-   p Description
              //- .simulator__main__form
              //-   .input-field
              //-     select
              //-       option(disabled selected) Placeholder select
              //-     select
              //-       option(disabled selected) Placeholder select
              //-     select
              //-       option(disabled selected) Placeholder select
              div.right-align
                a.wave-effect.wave-light.btn.light-blue.lighten-1 Calcular ganancias
          .card-panel.hoverable.simulator__chart
            .row
              .col.s12.m7
                h4 Tu Inversión
              .col.s12.m5.money.right-align
                div
                  label Invierte
                  h6 $10,000
                div
                  img(src="../img/group-26.svg")
                div
                  label Recibe
                  h6 $12,000
                  
              
            canvas(id="myChart", width="1000vw", height="300vh")
    section.msg.center-align
      .container
        h4 ¿Aún no estas convencido?
        h6 Resolvemos todas tus dudas
        a.wave-effect.wave-light.btn.light-blue.lighten-1 Habla con un asesor
        br
        br
    footer
      .container 2018. Fondeadora de Inversión y Capital.

      script(type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js")
      script(type="text/javascript", src="js/index.js")
              
