public/new-user.html

<html lang="es">
  <head>
    <title>Inverplux</title>
    <meta charset="uft-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"/>
    <link rel="stylesheet" href="./css/home.css"/>
  </head>
  <body>
    <div class="home-wrap">
      <div class="row">
        <div class="col s2 side-menu">
          <div class="side-menu__header"><img class="responsive-img" src="img/logo.png" style="width:15em;"/></div>
          <div class="side-menu__list">
            <ul>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
              <li><a href="#">item</a></li>
            </ul>
          </div>
        </div>
        <div class="col s10">
          <div class="main">
            <div class="title-bar">
              <div class="title-bar__name">Nuevo usuario</div>
              <div class="title-bar__actions"><a class="waves-effect waves-light btn">Guardar</a></div>
            </div>
            <section>
              <form class="col s6">
                <div class="row">
                  <div class="input-field col s12">
                    <input class="validate" id="password" type="text"/>
                    <label for="usuario">Usuario</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s6">
                    <input class="validate" id="first_name" type="text"/>
                    <label for="first_name">Nombre</label>
                  </div>
                  <div class="input-field col s6">
                    <input class="validate" id="last_name" type="text"/>
                    <label for="last_name">Apellido</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input class="validate" type="email"/>
                    <label for="password">E mail</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input class="validate" type="email"/>
                    <label for="password">Calle</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s6">
                    <input class="validate" id="first_name" type="text"/>
                    <label for="first_name">Num. exterior</label>
                  </div>
                  <div class="input-field col s6">
                    <input class="validate" id="last_name" type="text"/>
                    <label for="last_name">Num. interior</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s6">
                    <input class="validate" id="first_name" type="text"/>
                    <label for="first_name">Colonia</label>
                  </div>
                  <div class="input-field col s6">
                    <input class="validate" id="last_name" type="text"/>
                    <label for="last_name">CP</label>
                    <div class="input-field col s12"></div>
                  </div>
                </div>
                <div class="row">
                  <select>
                    <option value="" disabled="" selected="">Choose your option</option>      
                    <option value="1">Option 1</option>      
                    <option value="2">Option 2</option>      
                    <option value="3">Option 3</option>
                  </select>    
                  <label>Estado</label>
                </div>
                <div class="row">
                  <select>
                    <option value="" disabled="" selected="">Choose your option</option>      
                    <option value="1">Option 1</option>      
                    <option value="2">Option 2</option>      
                    <option value="3">Option 3</option>
                  </select>    
                  <label>Municipio</label>
                </div>
              </form>
              <div class="col s6">
                <div class="photo-users" style="width:5em; height:5em; border-radius:100%;">foto</div>
                <button class="btn waves-effect waves-light" type="submit" name="action">Buscar</button>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script>
      $(document).ready(function() {
        $('select').material_select();
      });
    </script>
  </body>
</html>

src/new-user.pug
html(lang="es")
  head
    title Inverplux
    meta(charset="uft-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css')
    link( rel="stylesheet", href="./css/home.css")
  body
    .home-wrap
      .row
        div.col.s2.side-menu
          div.side-menu__header
            img.responsive-img(src="img/logo.png", style="width:15em")
          div.side-menu__list
            ul
              li
                a(href="#") item
              li
                a(href="#") item
              li
                a(href="#") item
              li
                a(href="#") item
          
        div.col.s10
          div.main
            div.title-bar
              div.title-bar__name
                | Nuevo usuario
              div.title-bar__actions
                a.waves-effect.waves-light.btn Guardar
            section
              form.col.s6
                .row
                  .input-field.col.s12
                    input#password.validate(type="text")
                    label(for="usuario") Usuario
                .row
                  .input-field.col.s6
                    input#first_name.validate(type="text")
                    label(for="first_name") Nombre
                  .input-field.col.s6
                    input#last_name.validate(type="text")
                    label(for="last_name") Apellido
                .row
                  .input-field.col.s12
                    input.validate(type="email")
                    label(for="password") E mail
                .row
                  .input-field.col.s12
                    input.validate(type="email")
                    label(for="password") Calle
                .row
                  .input-field.col.s6
                    input#first_name.validate(type="text")
                    label(for="first_name") Num. exterior
                  .input-field.col.s6
                    input#last_name.validate(type="text")
                    label(for="last_name") Num. interior
                .row
                  .input-field.col.s6
                    input#first_name.validate(type="text")
                    label(for="first_name") Colonia
                  .input-field.col.s6
                    input#last_name.validate(type="text")
                    label(for="last_name") CP
                    .input-field.col.s12
                .row
                  select
                    option(value="", disabled="", selected="") Choose your option
                    |       
                    option(value="1") Option 1
                    |       
                    option(value="2") Option 2
                    |       
                    option(value="3") Option 3
                  |     
                  label Estado
                .row
                  select
                    option(value="", disabled="", selected="") Choose your option
                    |       
                    option(value="1") Option 1
                    |       
                    option(value="2") Option 2
                    |       
                    option(value="3") Option 3
                  |     
                  label Municipio
              div.col.s6
                div.photo-users(style="width:5em; height:5em; border-radius:100%;") foto
                button.btn.waves-effect.waves-light(type="submit", name="action") Buscar

    script(type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js")
    script.
      $(document).ready(function() {
        $('select').material_select();
      });
